* {
  box-sizing: border-box;
}

html,
body {
  max-height: 100%;
}

:root {
  --primary: #f6f4f3;
  --secondary: #383d3b;
  --tertiary: #dd7230;
  --title: 'Paytone One', sans-serif;
  --header: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: var(--tertiary);
}

a:hover {
 color: var(--tertiary);
}

.btn-primary {
  background-color: var(--tertiary) !important;
  border: none !important;
}

h1 {
  color: var(--tertiary);
}

.navbar-brand {
  background-color: var(--tertiary);
  color: var(--primary) !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: clamp(15px, 2vw, 30px);
  font-family: var(--title) !important;
}

.navbar li {
  list-style-type: none;
  cursor: pointer;
  font-family: var(--header);
}

.navbar li:hover {
  color: var(--tertiary) !important;
}

li.navbar-brand:hover {
  color: var(--primary) !important;
}

h1 {
  font-family: var(--header);
}

footer {
  font-family: var(--header);
}

.portfolio-img {
  object-fit: cover;
}

#myCarousel > div.carousel-inner {
  height: 80vh;
}

#myCarousel img {
  width: 100vw;
  object-position: 0 -140px;
}

.modal-dialog {
  z-index: 2;
  position: sticky;
  top: 0;
  right: 45%;
  height: 0;
}

.modal-content {
  width: 60vw;
}

#headshot {
  border-radius: 50%;
}